<app-menu></app-menu>

<section class="drawer-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around">
  <div fxFlex="22%">

    <div>
      <h4>Filters</h4>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sort
            </mat-panel-title>
            
          </mat-expansion-panel-header>

          <div>
            <mat-radio-group fxLayout="column">
              <mat-radio-button value="4">New in</mat-radio-button>
              <mat-radio-button value="1">Reccommended</mat-radio-button>
              <mat-radio-button value="2">Most Popular</mat-radio-button>
              <mat-radio-button value="3">Your favourites</mat-radio-button>
            </mat-radio-group>
          </div>
          
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dietary
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <div fxLayout="column">
            <mat-checkbox>Vegan</mat-checkbox>
            <mat-checkbox>Vegeterian</mat-checkbox>
            <mat-checkbox>Pesceterian</mat-checkbox>
            <mat-checkbox>Gluten free</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
  

  <div fxFlex="75%">
    <section class="content">
      <mat-tab-group color="primary" mat-align-tabs="end">
          <mat-tab label="House Specials">
  
            <div fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
              <mat-card (click)="addPizza(pizza)" class="card" fxFlex="32%" fxFlex.lt-lg="48%" fxFlex.lt-sm="100%" *ngFor="let pizza of housespecialPizzas">
                <img mat-card-image [src]="img">
                <mat-card-header>
                  <mat-card-title>
                    {{pizza?.title}}
                    <mat-icon svgIcon="chilli" *ngIf="pizza?.spicy"></mat-icon>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{pizza?.description}}</p>
                  <p class="base-price">£ {{basePrice}}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
  
          <mat-tab label="Vegetarian">
  
            <div fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
              <mat-card (click)="addPizza(pizza)" class="card" fxFlex="32%" fxFlex.lt-lg="48%" fxFlex.lt-sm="100%" *ngFor="let pizza of vegeterianPizzas">
                <img mat-card-image [src]="img">
                <mat-card-header>
                  <mat-card-title>
                    {{pizza?.title}}
                    <mat-icon svgIcon="chilli" *ngIf="pizza?.spicy"></mat-icon>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{pizza?.description}}</p>
                  <p class="base-price">£ {{(pizza.name === 'margherita' ? baseMargheritaPrice : basePrice) | number: '1.2'}}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
  
        </mat-tab-group>
        
  </section>
  
  </div>
</section>

