<app-menu></app-menu>

<section class="drawer-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start">
  <div fxFlex="22%">

    <div>
      <h4>Filters</h4>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sort
            </mat-panel-title>

          </mat-expansion-panel-header>

          <div>
            <mat-radio-group fxLayout="column">
              <mat-radio-button value="4">New in</mat-radio-button>
              <mat-radio-button value="1">Reccommended</mat-radio-button>
              <mat-radio-button value="2">Most Popular</mat-radio-button>
              <mat-radio-button value="3">Your favourites</mat-radio-button>
            </mat-radio-group>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dietary
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="column">
            <mat-checkbox>Vegan</mat-checkbox>
            <mat-checkbox>Vegeterian</mat-checkbox>
            <mat-checkbox>Pesceterian</mat-checkbox>
            <mat-checkbox>Gluten free</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>


  <div fxFlex="75%">
    <section class="content">
      <div fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
        <mat-card class="card" fxFlex.gt-sm="48%" fxFlex.lt-sm="100%"
          *ngFor="let bread of garlicBreads">
          <mat-card-header>
            <mat-card-title>
              {{bread?.title | titlecase}}
              <mat-icon svgIcon="chilli" *ngIf="bread?.spicy"></mat-icon>
              <mat-icon *ngIf="bread?.popular" color="accent">star</mat-icon> 
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="img">
          <mat-card-content>
            <p>{{bread?.description}}</p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="addGarlicBread(bread)">
              <mat-icon>add</mat-icon>
              <span class="mat-typography">£ {{bread?.price_size[0]?.price | number: '1.2'}}</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>

  </div>
</section>
