<div class="content" fxLayout="column" fxLayoutAlign="space-between center">
  <h2>
    <mat-icon>auth</mat-icon>{{title}}
  </h2>

  <form (submit)="login()" [formGroup]="loginForm">
    <div fxLayout="column" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="this.loginForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <mat-icon class="hide" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="this.loginForm.controls.password.invalid">Enter your password</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
        <p class="warn-color" *ngIf="authErr">{{authErr}}</p>
        <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
        <button mat-stroked-button color="warn">Forgot password?</button>
    </div>

  </form>
  
</div>


