<mat-toolbar class="header-toolbar mat-elevation-z6" [ngClass]="{'mat-elevation-z6': !this.getCurrentRoute().includes('home') }" >
  <mat-toolbar-row [ngClass]="{'primary-background': this.getCurrentRoute().includes('home') }" fxLayoutAlign="space-between center">
    <div fxLayout="space-around">
      <a mat-button [routerLink]="user ? ['./pizzas'] : ['./']">
        <h3>
          <mat-icon svgIcon="magic" class="align-icon"></mat-icon>{{title | lowercase}}
        </h3>
      </a>

      <!-- area delivering to  -->
      <button class="fav-button" (click)="updateShop()" fxHide.lt-sm mat-button *ngIf="(currentPostcode$ | async)">
        <mat-icon class="align-icon">location_on</mat-icon> 
        {{(currentPostcode$ | async) | uppercase}}
      </button>
      <!-- method: collection or delivery  -->
      <button class="fav-button" (click)="updateMethod()" fxHide.lt-sm mat-button *ngIf="(currentFulfillmentMethod$ | async)">
        <mat-icon class="align-icon">{{(currentFulfillmentMethod$ | async) === 'delivery' ? 'local_taxi' : 'restaurant'}}</mat-icon> 
        {{(currentFulfillmentMethod$ | async) | titlecase}}
      </button>
    </div>
    
    <div fxLayoutAlign="space-around">
      <button [routerLink]="['checkout']" *ngIf="basketTotal > 0" mat-icon-button [color]="this.getCurrentRoute().includes('home') ? '' : 'primary'">
        <mat-icon [matBadge]="basketTotal" matBadgeColor="accent">shopping_basket</mat-icon>
      </button>

      <!-- user span  -->
      <span class="user-span">
        <button *ngIf="!user" mat-button [routerLink]="['login']">Login</button>

        <button *ngIf="user" mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="align-icon">face</mat-icon>{{user?.name}}
        </button>
        <mat-menu #menu="matMenu">
          <button [routerLink]="['user']" mat-menu-item>View Profile</button>
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>

      </span>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
