.auth_action__selection {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2em;
}

.options_wrapper {
    margin: 1em;
}

.options_wrapper > button {
    height: 50px;
    font-size: 20px;
}