<section class="auth_action__selection">
  <h2>
    <mat-icon>auth</mat-icon>{{title}}
  </h2>
  
  <div *ngIf="!authAction" class="options_wrapper" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="selectAction('login')">
      <mat-icon class="align-icon">login</mat-icon>
      Login with email
    </button>
    <button mat-stroked-button color="primary" (click)="selectAction('register')">
      <mat-icon class="align-icon">how_to_reg</mat-icon>
      Register now
    </button>
  </div>
  <div *ngIf="authAction" class="options_wrapper" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
    <button mat-stroked-button color="accent" (click)="resetAuthAction()">Back</button>
  </div>
</section>

<section class="auth-section">
  <app-login *ngIf="authAction === 'login'"></app-login>
  <app-register *ngIf="authAction === 'register'"></app-register>
</section>