<h1 mat-dialog-title fxLayoutAlign="space-between">
  <span>{{data.pizza.title | titlecase}} Pizza</span>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>

  <section class="description">
    <img mat-card-image [src]="img">
    <p>{{data.pizza.description}}</p>
  </section>

  <mat-accordion class="order-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Size/Crust
        </mat-panel-title>
        <mat-panel-description fxHide.lt-sm>
          Choose Your Individual Pizza Size and Crust
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <mat-radio-group (change)="selectSize($event)" [(ngModel)]="sizeSelected" fxLayout="column">
          <mat-radio-button *ngFor="let size of data.sizes" [value]="size">{{size.size}} {{size.type | titlecase}}
            - £{{(data.pizza.name === 'margherita' ? size.margherita_price : size.price) | number: '1.2'}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-action-row>
        <button mat-button color="accent" [disabled]="!sizeSelected" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="baseDisabled" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{defaultSauce?.title | titlecase}}
        </mat-panel-title>
        <mat-panel-description fxHide.lt-sm>
          Modify The Base For Your Pizza (Optional)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-content" fxLayout="column">
        <mat-checkbox (change)="addBase($event)" *ngFor="let base of bases" [value]="base">{{base.title | titlecase}}
          (+ £{{base.price | number:'1.2'}})</mat-checkbox>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="accent" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="extrasDisabled" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Extras
        </mat-panel-title>
        <mat-panel-description fxHide.lt-sm>
          Add any additional toppings
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-content" fxLayout="column">
        <mat-checkbox (change)="addTopping($event)" *ngFor="let topping of data.toppings" [value]="topping">
          {{topping.title | titlecase}}
          <span class="veg-span" *ngIf="topping.vegeterian">V</span>
          <span>(+ £{{sizeSelected?.price_per_topping | number: '1.2'}})</span>
          <mat-icon svgIcon="chilli" *ngIf="topping.spicy"></mat-icon>
        </mat-checkbox>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="accent" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button [disabled]="!sizeSelected" mat-stroked-button (click)="onAddClick()" color="accent">
    <span>Add for £{{totalPrice | number: '1.2'}}</span>
  </button>
</div>
