app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.loading {
    filter: opacity(30%);
    pointer-events: none;
}

.pizza-magic-body {
    top: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

@media (max-width: 599px) {
    .pizza-magic-body {
        top: 56px;
    }
}