<app-menu></app-menu>

<section class="drawer-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start">
  <div fxFlex="22%">

    <div>
      <h4>Filters</h4>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sort
            </mat-panel-title>

          </mat-expansion-panel-header>

          <div>
            <mat-radio-group fxLayout="column">
              <mat-radio-button value="4">New in</mat-radio-button>
              <mat-radio-button value="1">Reccommended</mat-radio-button>
              <mat-radio-button value="2">Most Popular</mat-radio-button>
              <mat-radio-button value="3">Your favourites</mat-radio-button>
            </mat-radio-group>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kids Dietary
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="column">
            <div *ngFor="let type of dietaryTypes">
              <mat-checkbox (change)="filterMeals()" #checkBox [value]="type">
                {{type | titlecase}}
              </mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div fxFlex="75%">
    <section class="content">
      <h2>Meal Deals</h2>
      <div class="cards_container" fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
        <mat-card (click)="addMealDeal(meal)" class="card" fxFlex="32%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%"
          *ngFor="let meal of mealDeals">
          <img mat-card-image [src]="img">
          <mat-card-header>
            <mat-card-title>
              {{meal?.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{meal?.description}}</p>
            <div class="base-price" fxLayoutAlign="space-between">
              <span>£ {{meal.price| number: '1.2'}}</span>
              <span class="accent-color" *ngIf="meal?.popular">
                <mat-icon class="align-icon" color="accent">star</mat-icon> Popular
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


      <h2>Kids Meals</h2>
      <div class="cards_container" fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
        <mat-card (click)="addKidsMeal(meal)" class="card" fxFlex="32%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%"
          *ngFor="let meal of filteredKidsMeals">
          <img mat-card-image [src]="imgKids">
          <mat-card-header>
            <mat-card-title>
              {{meal?.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{meal?.description}}</p>
            <div class="base-price" fxLayoutAlign="space-between">
              <span>£ {{meal.price| number: '1.2'}}</span>
              <span class="accent-color" *ngIf="meal?.popular">
                <mat-icon class="align-icon" color="accent">star</mat-icon> Popular
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </section>

  </div>
</section>
