<section>
  <div class="content">
    <h2 class="title">CHECKOUT</h2>
    <section fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
      <section *ngIf="!(user$ | async)" class="checkout_user__preferences" fxLayout="column" fxFlex="55%"
        fxFlex.lt-md="100%" fxFlexOrder.lt-md="2">
        <app-auth></app-auth>
      </section>

      <section *ngIf="(user$ | async)" class="checkout_user__preferences" fxLayout="column" fxFlex="55%"
        fxFlex.lt-md="100%" fxFlexOrder.lt-md="2">

        <checkout-shop></checkout-shop>
        <checkout-method></checkout-method>
        <checkout-delivery *ngIf="(favorite$ | async)?.fulfillment_method === 'delivery'"></checkout-delivery>

        <div>
          <h3>
            <mat-icon class="align-icon" mat-list-icon>notes</mat-icon>Additional Notes
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </section>

      <section fxFlex="40%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1" class="basket-section">
        <app-basket [isCheckout]="true"></app-basket>
      </section>
    </section>
  </div>
</section>
