<h1 mat-dialog-title fxLayoutAlign="space-between">
  <span>Edit Order</span>
</h1>

<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field appearance="fill" fxFlex="100%">
      <mat-label>Preferred order method</mat-label>
      <mat-select [(ngModel)]="fulfillmentMethod">
        <mat-option *ngFor="let method of fulfillmentMethods" [value]="method">{{method | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div mat-dialog-actions fxLayoutAlign="space-between end" fxLayout.lt-sm="column">
  <button fxFlex="40%" fxFlexOrder.lt-sm="2" mat-stroked-button (click)="onNoClick()" color="accent">
    Cancel
  </button>
  <button fxFlex="50%" fxFlexOrder.lt-sm="1" mat-flat-button
    (click)="updateOnClick()" color="accent">
    <span>Update</span>
  </button>
</div>
