<div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>
      <mat-icon class="align-icon" mat-list-icon>maps</mat-icon>Delivery Details
    </h3>
    <button *ngIf="!isEditAddress" mat-stroked-button color="accent" (click)="editAddress()">Edit</button>
  </div>
  <mat-card class="mat-typography" *ngIf="selectedAddress && !isEditAddress">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>local_taxi</mat-icon>
        <div mat-line class="mat-h1">{{selectedAddress?.address}}</div>
        <div mat-line>{{selectedAddress?.postcode}} - {{selectedAddress?.phone}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>


<div *ngIf="isEditAddress">
  <mat-nav-list>
    <mat-list-item (click)="selectAddress(address)" *ngFor="let address of addressBook">
      <p matLine>
        <mat-icon class="align-icon">my_location</mat-icon>{{address?.address}}
      </p>
      <p matLine> {{address?.postcode}} - {{address?.phone}}</p>
    </mat-list-item>
  </mat-nav-list>
  <button mat-button color="accent" (click)="addAddress()">Add new address {{!selectedAddress ? 'for ' +(favoriteAddress?.postcode | uppercase) : ''}}</button>
</div>