<section>
  <div class="user-panel account" fxLayout="column" fxLayoutAlign="space-between">
    <h2 class="title">ACCOUNT</h2>


    <section>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>
          <mat-icon>perm_identity</mat-icon>Profile
        </h2>
        <button *ngIf="!editMode" (click)="editProfile()" mat-flat-button color="accent">Edit</button>
      </div>

      <form [formGroup]="userForm" *ngIf="user">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between" layout-wrap>

          <mat-form-field appearance="outline" fxFlex="48%">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="this.userForm.controls.name.invalid">Name required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48%">
            <mat-label>Surname</mat-label>
            <input formControlName="surname" matInput placeholder="Surname">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="this.userForm.controls.surname.invalid">Surname required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48%">
            <mat-label>Phone number</mat-label>
            <input formControlName="phone" matInput placeholder="Phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="this.userForm.controls.phone.invalid">Phone number required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="48%">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="this.userForm.controls.email.invalid">Please type a correct email</mat-error>
          </mat-form-field>
          
        </div>
      </form>
      <div *ngIf="editMode" fxLayout="column" fxLayoutAlign="space-around center">
        <h4>You must supply your current password.</h4>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayout.lt-sm="column">
          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input type="password" matInput [formControl]="password" required>
            <mat-error *ngIf="password.invalid">Enter your current password.</mat-error>
          </mat-form-field>
          <div class="save_profile__buttons" fxLayoutGap="10px">
            <button class="large-button" (click)="editProfile()" mat-flat-button color="primary">Save</button>
            <button class="large-button" (click)="cancelChanges()" mat-stroked-button color="warn">Cancel</button>
          </div>
        </div>
        <span class="warn-color" *ngIf="errorInSaving">{{saveError}}</span>
      </div>
    </section>


    <section>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>
          <mat-icon>favorite_border</mat-icon>Preferences
        </h2>
        <button (click)="updatePreferences()" mat-flat-button color="accent">Edit</button>
      </div>

      <div>
        <div class="preferences_container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between" layout-wrap>
            <div fxFlex="48%">
              <mat-icon class="align-icon">storefront</mat-icon>
              <span class="pref_title">Favourite Shop: </span>
              <span>{{(preferences && preferences.favourite_shop ? preferences?.favourite_shop?.name : 'Not Selected') | titlecase}}</span>
            </div>

            <div fxFlex="48%">
              <mat-icon class="align-icon">restaurant</mat-icon> 
              <span class="pref_title">Preferred order method: </span>
              <span>{{(preferences && preferences.fulfillment_method ? preferences?.fulfillment_method : 'Not Selected') | titlecase}}</span>
            </div>

            <div fxFlex="100%">
              <mat-icon class="align-icon">home</mat-icon> 
              <span class="pref_title">Favourite Address: </span>
              <span>
                {{(preferences && preferences.favourite_address ? preferences?.favourite_address?.address : 'Not Selected') | titlecase}}
                {{(preferences && preferences.favourite_address ? preferences?.favourite_address?.postcode : '') | uppercase}}
              </span>
            </div>
        </div>
      </div>

    </section>


    <section>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>
          <mat-icon>map</mat-icon>Address Book
        </h2>
        <button (click)="configureAddress('add')" mat-icon-button color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div *ngIf="address_book">
        <div class="address_book__container" *ngFor="let address of address_book" fxLayout="row"
          fxLayoutAlign="space-between center">
          <span (click)="configureAddress('edit', address)" fxLayout="column">
            <span>
              <mat-icon class="align-icon">my_location</mat-icon>{{address?.address}}
            </span>
            <p> {{address?.postcode}} - {{address?.phone}}</p>
          </span>
          <span>
            <button (click)="deleteAddress(address)" mat-icon-button color="warn">
              <mat-icon>cancel</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </section>

    <section>
      <h2>
        <mat-icon>settings</mat-icon>Settings
      </h2>

      <div>
        <h4>
          <mat-icon class="align-icon">palette</mat-icon> Theme Settings
        </h4>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
          <span>{{(isDarkTheme | async) ? 'Dark' : 'Light'}}</span>
        </mat-slide-toggle>
      </div>
    </section>
  </div>
</section>
