.user-small-box,
.user-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.tab-icon {
  margin-right: 8px;
}

.config-content {
  margin-left: 1em;
}

.account {
  .title {
    font-size: xx-large;
  }
}

section {
  margin: 1em;
}

.user-panel {
  max-width: 850px;
  margin: 0 auto;
}

.address_book__container {
  margin-top: 0.5em;
  width: 100%;
}

.address_book__container div {
  margin-bottom: 1em;
}

.address_book__container p {
  margin-left: 2em;
  color: gray;
}