.user-small-box,
.user-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.tab-icon {
  margin-right: 8px;
}

.config-content {
  margin-left: 1em;
}

.account {
  .title {
    font-size: xx-large;
  }
}

h2>mat-icon {
  font-size: larger;
  vertical-align: sub;
  margin-right: 0.5em;
}

section {
  margin: 1em;
}

.user-panel {
  max-width: 850px;
  margin: 0 auto;
}

.address_book__container,
.preferences_container {
  margin-top: 0.5em;
  width: 100%;
}

.address_book__container div {
  margin-bottom: 1em;
}

.preferences_container div {
  margin-bottom: 2em;
}

.pref_title {
  font-size: smaller;
  color: #9E9E9E;
}

.address_book__container p {
  margin-left: 2em;
  color: gray;
}

.address_book__container>span:hover {
  cursor: pointer;
  color: gray;
}
