
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-brown, 900, 500, 200);
$accent: mat-palette($mat-blue, 900, 700, 500);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red, A700, A200, A100);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-gray);
$dark-accent:  mat-palette($mat-pink);
$dark-warn:    mat-palette($mat-light-blue, A200, A100, A400);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
    background-color: mat-color($dark-primary, 900);
    color: mat-color($primary, 200);

    .primary-color {
        color: mat-color($dark-primary);
    }

    .warn-color {
        color: mat-color($dark-warn);
    }

    .accent-color {
        color: mat-color($dark-accent);
    }

    .primary-background {
        background-color: mat-color($dark-primary, 900);
        color: mat-color($dark-primary, 200);
    }

    .warn-background {
        background-color: mat-color($dark-warn, 900);
        color: mat-color($dark-primary, 200);
    }

    .accent-background {
        background-color: mat-color($dark-accent, 800);
        color: mat-color($dark-primary, 200);
    }

}

.primary-body {
    background-color: mat-color($primary, 900);
    color: mat-color($primary, 200);
}

.dark-primary-body {
    background-color: mat-color($dark-primary, 900);
    color: mat-color($dark-primary, 200);
}

.primary-background {
    background-color: mat-color($primary, 900);
    color: mat-color($primary, 100);
}

.warn-background {
    background-color: mat-color($warn, 900);
    color: mat-color($warn, 50);
}

.accent-background {
    background-color: mat-color($accent);
    color: mat-color($accent, 50);
}

.warn-color {
    color: mat-color($warn);
}

.accent-color {
    color: mat-color($accent);
}

.primary-color {
    color: mat-color($primary);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    padding: 0;
    clear: both;
    font-family: Roboto, 'Roboto Mono', monospace; 
}

pizza-magic-root {
    top: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 1100px;
}

.content {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

[layout-wrap] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-icon {
    margin-right: 0.3em;
    vertical-align: sub;
}

.card {    
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.cdk-overlay-container {
    background: rgba(0, 0, 0, 0.32) !important;
}