.mat-dialog-content {
    padding-bottom: 1em;
}

.description {
    max-width: 30em;
}

.description > p {
    margin-top: 0;
}

.panel-content, .item_number__content {
    margin-top: 0.5em;
}

.item_number__content > button {
    margin: 1em;
}

h4 {
    margin-bottom: 0.3em;
}

mat-checkbox mat-icon {
    margin-left: 0.3em;
    vertical-align: sub;
}