<section class="home">
  <div class="header primary-background">

    <div class="content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
      <section fxFlex="60%">
        <h1 class="title">
          <mat-icon>local_pizza</mat-icon>PIZZA MAGIC
        </h1>
        <h2>
          {{slogan}}
        </h2>

        <div class="find-div">
            <app-shop-locator></app-shop-locator>
        </div>

      </section>

      <section fxFlex="30%" fxHide.lt-md>
        <h3>{{messageTitle}}</h3>
        <img class="message-img" [src]="messageImg">
        <small>{{message}}</small>
      </section>
    </div>
  </div>

  <div class="content">
    <h1>ORDER NOW</h1>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" layout-wrap>
      <img class="card card-img" [src]="card.img" matRipple [routerLink]="card?.route" fxFlex.gt-xs="48%" fxFlex.lt-sm="100%"
      *ngFor="let card of cards">
    </div>

  </div>

</section>
