.header {
    width: 100%;
}

h1 {
    font-size: 2em;
}

h1 > mat-icon {
    margin-right: 0.5em;
    font-size: 1em;
}

h2 {
    max-width: 70%;
}

.find-div {
    width: 100%;
}

mat-form-field {
    width: 95%;
}

.message-img {
    width: 100%;
}

mat-card:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 6px 6px rgba(0, 0, 0, 0.11);
}