<mat-card class="mat-typography" *ngIf="(shoppingCart | async)?.length > 0">
  <mat-card-header fxLayout="column" fxLayoutAlign="strech">
    <button mat-raised-button color="primary">Go to Checkout</button>
  </mat-card-header>
  <mat-card-content>
      <div class="list" *ngFor="let item of shoppingCart | async" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex="75%">
            <button mat-icon-button color="warn" (click)="removeItem(item)"><mat-icon>remove_circle_outline</mat-icon></button>
            {{item.amount}} 
            <button mat-icon-button color="warn" (click)="addItem(item)"><mat-icon>add_circle_outline</mat-icon></button>
            {{ item.product.title | titlecase}}
           </span>
          <span>£ {{item.price | number:'1.2'}}</span>
        </div>

        <span class="mat-caption description">{{item.product.description | titlecase}}</span>
        <span class="mat-caption description" *ngFor="let extra of item.product.extras">{{extra | titlecase}}</span>
      </div>
      <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="mat-body-2" fxLayoutAlign="space-around">
      <span fxFlex="78%">Total</span>
      <span>£ {{total | number: '1.2'}}</span>
  </mat-card-actions>
</mat-card>
