mat-card {
    margin-top: 1em;
}

mat-card-content {
    margin-top: 16px;
}

.description {
    font-weight: 200;
}

.list {
    margin-bottom: 0.5em;
}

mat-card-actions {
    margin-top: 1em;
}

.mat-icon-button {
    width: 26px;
    height: 27px;
    line-height: 23px;
}